@font-face {
  font-family: acma;
  src: url('./fonts/acma/PPAcma-Medium.woff');
}

@font-face {
  font-family: acma;
  src: url('./fonts/acma/PPAcma-Bold.woff');
  font-weight: bold;
}

@font-face {
  font-family: acma;
  src: url('./fonts/acma/PPAcma-Black.woff');
  font-weight: 900;
}

@font-face {
  font-family: woodland;
  src: url('./fonts/acma/PPWoodland-Regular.woff');
}

@font-face {
  font-family: woodland;
  src: url('./fonts/acma/PPWoodland-Bold.woff');
}