@font-face {
  font-family: acma;
  src: url('./fonts/acma/PPAcma-Medium.woff');
}

@font-face {
  font-family: acma;
  src: url('./fonts/acma/PPAcma-Bold.woff');
  font-weight: bold;
}

@font-face {
  font-family: acma;
  src: url('./fonts/acma/PPAcma-Black.woff');
  font-weight: 900;
}

@font-face {
  font-family: pangram-sans;
  src: url('./fonts/pangram-sans/PPPangramSans-Regular.woff');
}

@font-face {
  font-family: pangram-sans;
  src: url('./fonts/pangram-sans/PPPangramSans-Bold.woff');
  font-weight: bold;
}