@font-face {
  font-family: acma;
  src: url('./fonts/acma/PPAcma-Medium.woff');
}

@font-face {
  font-family: acma;
  src: url('./fonts/acma/PPAcma-Bold.woff');
  font-weight: bold;
}

@font-face {
  font-family: acma;
  src: url('./fonts/acma/PPAcma-Black.woff');
  font-weight: 900;
}

@font-face {
  font-family: RightSerif;
  src: url('./fonts/right-serif/ Right\ Serif\ -\ Medium.woff');
}

@font-face {
  font-family: RightSerif;
  src: url('./fonts/right-serif/ Right\ Serif\ -\ Bold.woff');
  font-weight: bold;
}

@font-face {
  font-family: RightSerif;
  src: url('./fonts/right-serif/ Right\ Serif\ -\ Light.woff');
  font-weight: light;
}