@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  color: #333;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.inner-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: acma;
  margin-top: 72px;
  border-radius: 36px;
  border: solid 1px white;
  animation: fadeIn 2s;
}

#gradient-canvas {
  width:100%;
  height:50%;
  --gradient-color-1: #4CD4B0; 
  --gradient-color-2: #FFFCE6; 
  --gradient-color-3: #F24D16;  
  --gradient-color-4: #EDD834;
  opacity: 0.5;
  border-radius: 36px;
}

.title-container {
  position: absolute;
}

.hero .title {
  font-weight: 900;
  font-size: 96px;
  width: 100%;
}

.hero .subline {
  text-align: center;
  width: 100%;
  font-size: 24px;
  margin-top: 20px;
}

.projects {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
}

.project {
  width: 48%;
  height: 560px;
  border-radius: 36px;
  transition: scale 0.5s;
  border: solid 1px white;
  position: relative;
}

.project:hover {
  cursor: pointer;
  scale: 0.98;
}

.project-one {
  opacity: 0;
  background-color: #D6F5EC;
  animation: fadeIn 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transition: all 0.5s ease;
}

.project-two {
  opacity: 0;
  background-color: #FED3C9;
  animation: fadeIn 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.project-title {
  font-family: acma;
  font-weight: bold;
  font-size: 48px;
  margin-top: 40px;
  margin-left: 40px;
}

.project-subline {
  margin-top: 8px;
  margin-left: 40px;
  font-family: pangram-sans;
}

footer {
  opacity: 0;
  width: 100%;
  height: 400px;
  background-color: #FBF5D1;
  border-radius: 36px;
  margin-bottom: 48px;
  border: solid 1px white;
  position: relative;
  animation: fadeIn 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.footer-title {
  font-family: acma;
  font-weight: bold;
  font-size: 64px;
  margin-top: 40px;
  margin-left: 40px;
}

.email-link {
  margin-top: 16px;
  margin-left: 40px;
  font-family: pangram-sans;
  font-size: 24px;
}

.email-link a {
  color: #333;
}

.thank-you {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 24px;
  margin-bottom: 24px;
  font-size: 64px;
  font-family: acma;
  font-weight: bold;
}