@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  color: #333;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.inner-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: acma;
  margin-top: 24px;
  border-radius: 36px;
  border: solid 1px white;
  animation: fadeIn 2s;
}

#gradient-canvas {
  width:100%;
  height:50%;
  --gradient-color-1: #4CD4B0; 
  --gradient-color-2: #FFFCE6; 
  --gradient-color-3: #F24D16;  
  --gradient-color-4: #EDD834;
  opacity: 0.5;
  border-radius: 36px;
}

.title-container {
  position: absolute;
}

.hero .title {
  font-weight: 900;
  font-size: 96px;
  width: 100%;
}

.hero .subline {
  text-align: center;
  width: 100%;
  font-size: 24px;
  margin-top: 20px;
}

.projects {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
}

.project {
  width: 48%;
  height: 560px;
  border-radius: 36px;
  transition: scale 0.5s;
  border: solid 1px white;
  position: relative;
  overflow: hidden;
}

.project-hover-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 50;
  cursor: pointer;
}

.project-one {
  opacity: 0;
  background-color: #D6F5EC;
  animation: fadeIn 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transition: all 0.5s ease;
}
.project-one .promo-img {
  height: 720px;
  position: absolute;
  right: -96px;
  bottom: -240px;
}

.project-two {
  opacity: 0;
  background-color: #FED3C9;
  animation: fadeIn 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  transition: all 0.5s ease;
}

.project-two .promo-img {
  position: absolute;
  bottom: 0;
  right: -40px;
}

.promo-img {
  transition: all 0.5s;
}

.project-title {
  font-family: acma;
  font-weight: bold;
  font-size: 48px;
  margin-top: 40px;
  margin-left: 40px;
}

.project-subline {
  margin-top: 8px;
  margin-left: 40px;
  font-size: 16px;
  font-family: pangram-sans;
}

.tech-stack {
  margin-top: 16px;
  margin-left: 40px;
}

.tech-tag {
  font-family: pangram-sans;
  display: inline;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10%;
  padding: 4px 8px;
  margin-right: 8px;

}

.expanded {
  width: 70%;
  height: auto;
  z-index: 100; 
}

.project-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.project-image {
  opacity: 0;
  transition: all 0.5s;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.project-one.expanded {
  margin-right: 40px;
}

.project-two.expanded {
  margin-left: 40px;
}

.project-image:nth-child(2) {
  margin-top: -24px;
}

.project-two.expanded .promo-img {
  right: -60px;
}

.project.expanded .promo-img {
  opacity: 0;
  z-index: -100;
}

.project.expanded .project-image {
  opacity: 1;
}

.hidden {
  visibility: hidden;
}

.project-description {
  opacity: 0;
  font-family: pangram-sans;
  color: #333;
  font-size: 16px;
  max-width: 30%;
  margin-left: 40px;
  margin-top: 36px;
  transition: opacity 300ms;
}

.project.expanded .project-body {
  visibility: visible;
  overflow: scroll;
}

.project.expanded .project-description {
  opacity: 1;
}

.project-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.minimise-btn {
  font-size: 48px;
  color: #333;
  opacity: 0.5;
  margin-bottom: 48px;
  cursor: pointer;
}

.project-link {
  font-family: pangram-sans;
  color: #333;
  margin-bottom: 24px;
}

footer {
  opacity: 0;
  width: 100%;
  height: 400px;
  background-color: #FBF5D1;
  border-radius: 36px;
  margin-bottom: 48px;
  border: solid 1px white;
  position: relative;
  animation: fadeIn 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.footer-title {
  font-family: acma;
  font-weight: bold;
  font-size: 64px;
  margin-top: 40px;
  margin-left: 40px;
}

.email-link {
  margin-top: 16px;
  margin-left: 40px;
  font-family: pangram-sans;
  font-size: 24px;
}

.email-link a {
  color: #333;
}

.thank-you {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 24px;
  margin-bottom: 24px;
  font-size: 64px;
  font-family: acma;
  font-weight: bold;
}

/* media queries */

@media (max-width: 1080px) {
  .projects {
    flex-direction: column;
  }

  .project-two {
    margin-top: 24px;
  }

  .project {
    width: 100%;
  }

  .project-one .promo-img {
    height: auto;
    position: absolute;
    right: -120px; 
    bottom: -120px;
  }

  .project-two .promo-img {
    position: absolute;
    bottom: 0;
    right: -56px;
    height: 450px;
    width: 720px;
  }

  .project-one.expanded {
    margin-right: 0;
  }

  .project-two.expanded {
    margin-left: 0;
  }
}

@media (max-width: 680px) {
  .hero .title {
    font-size: 64px;
  }


  .footer-title, .thank-you {
    font-size: 48px;
  }

  .project-one .promo-img {
    bottom: -72px;
    right: -96px;
  }

  .tech-stack {
    margin-bottom: 24px;
  }

  .project-description {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .project-description:nth-child(1) {
    margin-bottom: 24px;
  }
  
}

@media (max-width: 480px) {
  .hero {
    height: 240px;
    margin-top: 12px;
  }

  #gradient-canvas {
    height: 100%;
  }

  .hero .title {
    font-size: 40px;
  }

  .hero .subline {
    font-size: 16px;
  }

  .project {
    height: 400px;
  }

  .project.expanded {
    height: auto;
  }

  .project-title {
    font-size: 32px;
  }

  .project-subline {
    font-size: 16px;
  }

  .project-two .promo-img {
    height: 280px;
    width: 120%;
    left: 0;
    bottom: -35px;
  }

  .minimise-btn {
    font-size: 32px;
  }

  footer {
    height: 240px;
  }

  .footer-title, .thank-you {
    font-size: 32px;
  }

  .footer-title {
    width: 100%;
    text-align: center;
    margin: 32px 0 0 0;
  }

  .email-link {
    margin: 20px 0 0 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
}