body { 
  font-family: acma, serif;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: lightblue;
  overflow: hidden;
  position: relative;
}

#gradient-canvas {
  width:100%;
  height:100%;
  z-index: 0;
  position:absolute;
}

#gradient-canvas.gradient-one {
  --gradient-color-1: #D1D5D8; 
  --gradient-color-2: #3498DB; 
  --gradient-color-3: #E74C3C;  
  --gradient-color-4: #F1C40F;
}

#gradient-canvas.gradient-two {
  --gradient-color-1: #c1ff9b; 
  --gradient-color-2: #fface4; 
  --gradient-color-3: #ab87ff;  
  --gradient-color-4: #f5ffc6;

}

#gradient-canvas.gradient-three {
  --gradient-color-1: #FE6860; 
  --gradient-color-2: #FE8A71; 
  --gradient-color-3: #D9BBAE;  
  --gradient-color-4: #F3C9BF;
}

#gradient-canvas.gradient-four {
  --gradient-color-1: #c3e4ff; 
  --gradient-color-2: #6ec3f4; 
  --gradient-color-3: #eae2ff;  
  --gradient-color-4: #b9beff;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 10000vw;
  height: 100vh;
  transition: left 1s;
}

.slide-1, .slide-2, .slide-3, .slide-4 {
  position: relative;
}

.title {
  font-size: 120px;
  color: black;
  text-align: left;
  font-weight: 900;
  margin-bottom: 8px;
  margin-left: 36px;

}

.subline {
  font-size: 36px;
  text-align: left;
  margin-top: 24px;
  margin-left: 36px;
}

.swipe-msg {
  visibility: hidden;
}

.prev, .next {
  font-size: 80px;
  position: absolute;
  top:50%;
  color: rgba(102,102,102, 0.3);
  text-decoration: none;
  transform: translateY(-50%);
  transition: scale 0.3s;
}

.prev:hover, .next:hover {
  scale: 0.9
}
.prev {
  left: 5%;
}

.next {
  right: 5%;
}

.holder > div {
  float: left;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-content-container {
  width: 80%;
  height: auto;
}

.project-container {
  width: 72%;
  margin: 20px auto 10px auto;
  height: 90vh;
  border: solid 18px black;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  background-color: rgba(255, 255, 255, 0.25);
  padding-bottom: 24px;
}

.project-container::-webkit-scrollbar {
  display: none;
}

.project-title {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: solid 18px black;
}

.project-title h2 {
  font-size: 56px;
  font-weight: 900;
  padding-top: 16px;
  padding-bottom: 12px;
}

.project-content {
  display: flex;
  justify-content: center;
}

.description {
  margin-top: 24px;
  font-family: RightSerif, serif;
  font-size: 24px;
  text-align: center;
  width: 90%;
}

.project-image {
  width: 90%;
  aspect-ratio: 2/1;
  display: block;
  margin: 24px auto 0 auto;
  -webkit-box-shadow: 4px 6px 8px 0px rgba(102,102,102,0.25);
  -moz-box-shadow: 4px 6px 8px 0px rgba(102,102,102,0.25);
  box-shadow: 4px 6px 8px 0px rgba(102,102,102,0.25);
}

.project-footer {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 32px;
  color: black;
  opacity: 0.5;
  transition: scale 0.3s;
  margin-right: 8px;
  margin-left: 8px;
  position: fixed;
}

.icon .github {
  bottom: 10%;
}

.icon:hover {
  scale: 0.9
}

.contact-title{
  font-size: 80px;
  position: absolute;
  top: 10%;
}

.git-link, .email{
  font-family: RightSerif, serif;
  font-size: 32px;
  color: black;
}

.git-link {
  position: absolute;
  top: 25%;
}
.email {
  position: absolute;
  top: 30%;
  margin-top: 12px;
}

.thanks {
  position: absolute;
  bottom: 10%;
  right: 10%;
  text-align: right;
  font-size: 60px;
}
/* MEDIA QUERIES */ 

@media (max-width: 1080px) {
  .project-container {
    width: 90%;
  }
}

@media (max-width: 920px) {
  .title {
    font-size: 96px;
  }
}

@media(max-width: 680px) {
  .contact-title {
    font-size: 56px
  }

  .git-link, .email{
    font-size: 28px;
  }

  .thanks {
    font-size: 48px;
  }
}

@media (max-width: 560px) {
  .title {
    font-size: 72px
  }

  .project-container {
    width: 100%;
  }

  .project-image {
    aspect-ratio: 1.25/1;
  }

  .project-title h2 {
    font-size:40px ;
  }

  .description {
    font-size: 20px
  }

  .icon {
    font-size: 28px;
  }

  .contact-title {
    font-size: 48px;
  }

  .git-link, .email{
    font-size: 24px;
  }

  .thanks {
    font-size: 40px;
  }

  .project footer {
    margin-top: 12px;
    margin-bottom: 12px;
  }

}

@media (max-width: 480px) {
  h1 {
    font-size: 64px;
    line-height: 1.1;
  }

  .prev {
    visibility: hidden;
  }

  .next {
    visibility: hidden;
  }

  .swipe-msg {
    visibility: visible;
    text-align: right;
    margin-top: 48px;
    font-size: 18px;
    font-family: RightSerif, serif;
  }

  .subline {
    font-size: 24px;
  }

  .project-container {
    border: solid 8px black;
  }

  .project-title {
    border-bottom: solid 8px black;
  }

  /* .description {
    width: 80%
  } */

  .project-image {
    margin-top: 10px;
  }

  .git-link {
    top:30%;
  }

  .email {
    top: 35%;
  }
}

/* @media (max-height: 700px) {
  .project-container {
    height: 500px;
    margin-top: 10px;
  }
} */